body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #999999;
}
/* carousel css */

/* Carousel base class */
.carousel {
   // margin-bottom: 3rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 17rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 46rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 46rem;
    opacity: 0.6;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* blog filter css*/
.blog{
    padding-top:20px;
    padding-bottom:20px;
}
.blog-filter{
}
.blog .form-inline label{
    padding-left:15px;
}

.blog .card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.blog .card-deck{
    padding:50px 0;
}

.load-more-btn button{
    border-radius: 20px;
}

/*Subscribe section css */

.subscribe-section{

}

.subscribe-section{
    background-image: url('../images/Parralax-image.jpg');
    padding: 50px;
}

.subscribe-section button{
    padding:10px 50px;
}

/* footer section css */

.footer {

}

.footer .footer-top {
    background-color: #000000;
    padding: 40px;
}

.footer .footer-top .title {
    color: #ffffff;
    maring: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
}

.footer .footer-top ul {
    padding-left: 10px;
}

.footer .footer-top ul li a {
    color: #777777;
    font-size: 12px;
}

.footer .footer-bottom {
    padding: 20px 0;
    color: #777777;
}

.footer .footer-top .social-media img {
    width: 15px;
    height: 15px;
}
